/*  抽屉右边打开动画 */
.drawer-open-right-enter-active {
  animation: open-translate-right .3s forwards;
}

.drawer-open-right-leave-active {
  animation: open-translate-right .3s reverse forwards;
}

@keyframes open-translate-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/*  抽屉左边打开动画 */
.drawer-open-left-enter-active {
  animation: open-translate-left .3s forwards;
}

.drawer-open-left-leave-active {
  animation: open-translate-left .3s reverse forwards;
}

@keyframes open-translate-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/*  抽屉上边打开动画 */
.drawer-open-top-enter-active {
  animation: open-translate-top .3s forwards;
}

.drawer-open-top-leave-active {
  animation: open-translate-top .3s reverse forwards;
}

@keyframes open-translate-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/*  抽屉底边打开动画 */
.drawer-open-bottom-enter-active {
  animation: open-translate-right .3s forwards;
}

.drawer-open-bottom-leave-active {
  animation: open-translate-bottom .3s reverse forwards;
}

@keyframes open-translate-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

  /* 聚光灯效果 */
  .condensation-light {
    position: relative;
  }
  .condensation-light:before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: 0;
    background-color: pink;
    border: 2px solid #fff;
    opacity: .3;
    animation: condensation-animation 1.5s infinite linear;
  }

  .border-animation::after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    right: -2px;
    left: -2px;
    z-index: -1;
    /* background-color: pink; */
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
    filter: blur(10px);
    /* animation: condensation-animation 1.5s infinite linear; */
  }

  @keyframes condensation-animation {
    0% {
      width: 0%;
    }

    50% {
      width: 90%;
      opacity: 1;
    }

    100% {
      width: 90%;
      opacity: 0;
    }
  }
  
  /* 淡入淡出 */
  @keyframes slow-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  
  /* 鼠标点击动画 */
  .lovely-icon {
    position: fixed;
    top: 100px;
    left: 100px;
    width: 32px;
    height: 32px;
    z-index: 10000;
    animation: lovely-translate 1s forwards linear;
  }
  .lovely-icon__left {
    position: absolute;
    top: 0;
    left: 1px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #e5e5e5;
  }

  .lovely-icon__right {
    position: absolute;
    top: 0;
    right: 1px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #e5e5e5;
  }

  .lovely-icon__center {
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    background-color: #e5e5e5;
    transform: rotate(45deg);
  }

  @keyframes lovely-translate {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }

    100% {
      transform: translateY(-100px);
      opacity: 0.2;
    }
  }
  