@import './globalStyle';
@font-face {
  font-family: 'iconfont';  /* project id 1885094 */
  src: url('//at.alicdn.com/t/font_1885094_y771mg4hvt.eot');
  src: url('//at.alicdn.com/t/font_1885094_y771mg4hvt.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1885094_y771mg4hvt.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1885094_y771mg4hvt.woff') format('woff'),
  url('//at.alicdn.com/t/font_1885094_y771mg4hvt.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1885094_y771mg4hvt.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}

.notes-icon {
  width: 14px;
  height: 14px;
  color: $theme-color;
}

.start-page-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: $theme-color;
}

.sel-hander {
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: $theme-color;
}

.sun-moon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: $theme-color;
  margin: 0;
}

.sel-icon {
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: $theme-color;
}

.up-icon, .down-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: $theme-color;
}

.menu-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: $theme-color;
}

.message-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: $theme-color;
}