.drawer-open-right-enter-active {
  animation: open-translate .3s forwards;
}

.drawer-open-right-leave-active {
  animation: open-translate .3s reverse forwards;
}

@keyframes open-translate {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}